<h1>Editing fish</h1>

<%= render 'form' %>

    <div class="ui-body ui-body-b">
    <fieldset class="ui-grid-a">
        <div class="ui-block"><%= link_to 'View', @fish, "data-role" => "button", "data-theme" => "d" %></div>
      </fieldset>
    </div>

